<a href="https://colab.research.google.com/github/mariacmartins/shepy/blob/main/Aula_1_Iniciando_na_programa%C3%A7%C3%A3o_com_Python_ShePY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iniciando na programação com Python e Google Colab

## Por que aprender a programar?
*Tudo o que fazemos responde a um algoritmo. É hora de que todos entendam como e por quê.*

- Desenvolve a habilidade de resolver problemas
- Trabalha a criatividade, persistência e a capacidade de superação
- Ganho autonomia e agilidade no trabalho

## Por que Python?
- Simples e fácil de aprender
- Grande comunidade
- Versatilidade e diversas aplicações: Desenvolvimento web, Ciência de Dados, Inteligência Artificial, desenvolvimento de jogos, etc.
- Bem aceita no mercado de trabalho

## Por que iremos utilizar o Google Colab?
O Google Colab é um ambiente de armazenamento em nuvem de notebooks, executado diretamente no navegador, sem a necessidade de nenhum tipo de instalação de software em máquina. Os notebooks permitem combinar códigos executáveis (por exemplo, códigos em Python) com textos e imagens utilizando Markdown.

## Tipos de dados

### Numéricos:
- Inteiros **(int)** -> números sem casa decimal: 9, 7, -4
- Reais **(float)** -> números com casa decimal: 3.14, 600.4, 0.0

### Não numéricos:
- Texto/String **(str)**: "Python", "Maria Clara", "96785-202"
- Lógicos **(bool)**: True ou False

## Variáveis e identificadores

Variáveis são locais onde armazenamos valores na memória. De modo geral, as **variáveis são elementos básicos na programação que armazenam os dados que precisamos no nosso algoritmo.**

Toda variável será caracterizada por um nome (que a identifica em um
programa) e por um tipo.

**Identificador** é um nome dado para variáveis, constantes e funções.

Em Python, um identificador pode conter apenas:
- Letras de A a Z (maiúsculas e minúsculas)
- Os dígitos de 0 a 9
- O símbolo underscore _

Regras para identificadores em Python:
- O identificador deve começar obrigatoriamente com uma letra ou underscore.
- Não deve conter espaços, caracteres especiais ou letras acentuadas.
- Python faz diferenciação entre maiúsculas e minúsculas.

In [1]:
print('Hello, world!')

Hello, world!

In [2]:
mensagem = 'Hello, world!'
print(mensagem)

Hello, world!

In [3]:
mensagem = 'Hello, world!'
print('mensagem')

mensagem

In [4]:
type(mensagem)

str

In [5]:
print(mensagem, 'Estou aprendendo a programar.')

Hello, world! Estou aprendendo a programar.

In [6]:
nome = 'Maria'
print(nome)

Maria

In [7]:
meu nome = 'Maria'
print(meu nome)

SyntaxError: ignored

In [8]:
meu_nome = 'Maria'
print(meu_nome)

Maria

In [9]:
nome = 'Maria'
print('Hello', nome, '!')

Hello Maria !

In [10]:
salario = 1245.30
type(salario)

float

In [11]:
print('O meu salário é:', salario)

O meu salário é: 1245.3

In [12]:
salário$ = 1000
type(salário$)

SyntaxError: ignored

In [13]:
idade = 22
IDADE = 23
print(idade)
print(IDADE)

22
23

In [14]:
nome = 'Maria'
print('Hello, {}!'.format(nome))

Hello, Maria!

In [15]:
idade = 24
print('Minha idade é: {}'.format(idade))

Minha idade é: 24

In [16]:
print('Olá, meu nome é {} e eu tenho {} anos.'.format(nome, idade))

Olá, meu nome é Maria e eu tenho 24 anos.

Armazene as informações abaixo em variáveis com suas informações e descubra o tipo de dado de cada uma delas: 
- Nome
- Idade
- Altura (em cm)
- Estado civil
- Número do sapato
- Você tem CNH?

In [17]:
nome = 'Maria'
type(nome)

str

In [20]:
idade = 24
type(idade)

int

In [19]:
altura = 1.66
type(altura)

float

In [21]:
estado_civil = 'solteira'
type(estado_civil)

str

In [22]:
sapato = 36
type(sapato)

int

In [23]:
cnh = True
type(cnh)

bool

# Operadores aritméticos


| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
|     +    | Adição        | a = 3 + 2                  |
|     -    | Subtração     | b = 7 - a                  |
|     *    | Multiplicação | c = a * b                  |
|     /    | Divisão       | d = 10/3                   |
|    //    | Quociente     | e = 10//3                  |
|     %    | Resto         | f = 10%3                   |
|    **    | Exponenciação | g = 2 ** 3                 |
|    **    | Radiciação    | h = 16 ** (1/2)            |

## Precedência de Operadores

1. Parênteses
2. Potenciação
3. Multiplicação e divisão
4. Soma e substração

In [24]:
# Soma
3 + 2

5

In [25]:
# Subtração
3 - 2

1

In [26]:
# Multiplicação
3.4 * 3

10.2

In [27]:
# Divisão
25 / 5

5.0

In [28]:
# Quociente
10 // 3

3

In [29]:
# Resto da divisão
10 % 2

0

In [30]:
# Exponenciação
3 ** 2

9

In [31]:
# Radiciação
16 ** (1/2)

4.0

In [32]:
# 3 - 2
n1 = 3
n2 = 2
subtracao = n1 - n2
print(subtracao)

1

In [33]:
n1 = int(input('Digite um número: '))
n2 = int(input('Digite um número: '))
subtracao = n1 - n2
print(subtracao)

Digite um número: 5
Digite um número: 4
1

In [34]:
#Se eu quiser mostrar o código anterior porém com mensagem associada
n1 = int(input('Digite um número: '))
n2 = int(input('Digite um número: '))
subtracao = n1 - n2
print('{} - {} é igual à {}.'.format(n1, n2, subtracao))

Digite um número: 5
Digite um número: 4
5 - 4 é igual à 1.

Executando equações:

$ 2+3*4/5-6 $

In [35]:
2 + 3 * 4 / 5 - 6

-1.5999999999999996

Agora a mesma equação acima, mas alterando a precedência para que as operações de soma e subtração sejam executadas antes das outras. _Dica: use parênteses._

In [36]:
(2 + 3) * 4 / (5 - 6)

-20.0

# Operadores relacionais (operadores de comparação)

| Operador | Significado   | Exemplo                    |
|:---|:---|:---|
| == | Igualdade | a == b |
| != | DesiIgualdade | a != b |
| > | Maior que | a > b |
| < | Menor que | a < b |
| >= | Maior ou igual | a >= b |
| <= | Menor ou igual | a <= b |

In [ ]:
a = 5
b = 3
a == b

In [38]:
a > b

True

In [39]:
a != b

True

In [40]:
a = int(input('Valor de a: '))
b = int(input('Valor de b: '))
a == b

Valor de a: 5
Valor de b: 6

False

## Exercícios práticos

### Exercício 1:
Faça um programa que pergunte seu nome e armazene essa entrada/input na variável **nome**. Após, utilizando a variável criada, retorne uma mensagem em tela seguindo esse formato: 

- **Olá,** `seu nome`**!**
- Exemplo: Olá, Maria!

In [41]:
nome = str(input('Qual seu nome? '))
print('Olá,', nome, '!')

Qual seu nome? Maria
Olá, Maria !

### Exercício 2:
Repita o exercício 1, porém agora utilizando a saída formatada.

In [42]:
nome = str(input('Qual seu nome? '))
print('Olá, {}!'.format(nome))

Qual seu nome? Maria
Olá, Maria!

### Exercício 3:
Crie um programa que peça para você digitar dois números (tipo float) e mostre a soma entre eles utilizando a mensagem: 
- **A soma entre** `número 1` **e** `número 2` **é:** `soma `

- Exemplo: A soma entre 2.0 e 4.5 é: 6.5

Dica: você pode armazenar os números nas variáveis **n1 e n2**, e a soma na variável **soma**. Utilize a saída formatada.

In [43]:
n1 = float(input('Digite o primeiro número: '))
n2 = float(input('Digite o segundo número: '))
soma = n1 + n2
print('A soma entre {} e {} é: {}'.format(n1, n2, soma))

Digite o primeiro número: 2
Digite o segundo número: 4.5
A soma entre 2.0 e 4.5 é: 6.5

### Exercício 4:
Faça um programa que leia/receba a entrada de um número inteiro e mostre na tela o seu sucessor e seu antecessor.
- Exemplo de mensagem de retorno: O antecessor do número 5 é 4 e o sucessor é 6.

In [44]:
num = int(input('Digite um número: '))
antecessor = num - 1
sucessor = num + 1

print('O antecessor do número {} é {} e o sucessor é {}'.format(num, antecessor, sucessor))

Digite um número: 5
O antecessor do número 5 é 4 e o sucessor é 6

### Exercício 5: 

Utilizando as operações matemáticas vistas em aula, calcule o perímetro e a área de um círculo.

Armazene o raio na variável **radius** e os valores calculados, nas variáveis **circle_perimeter** e **circle_area**. 

Obs: Para pi utilize o valor de 3.14. O valor do raio pode ser 5, ou qualquer valor a sua escolha.

In [45]:
pi = 3.14
radius = 5

In [46]:
circle_perimeter = 2 * pi * radius 
circle_perimeter

31.400000000000002

In [47]:
circle_area = pi * (radius ** 2)
circle_area

78.5

### Exercício 6: 
Desenvolva um programa que calcule e mostre a média entre as notas de um aluno, sendo as notas: 
-  Prova 1: 8
- Prova 2: 9.5
- Prova 3: 6

OBS: Utilize a variável **mean** para armazenar o valor de média obtida.

In [48]:
mean = (8 + 9.5 + 6) / 3
mean

7.833333333333333

### Exercício 7:
Faça um programa que leia a largura e a altura de uma parede retangular em metros, calcule a sua área e a quantidade de tinta necessária para pintá-la, sabendo que cada litro de tinta pinta uma área de 2 metros quadrados.

In [49]:
largura = float(input('Largura da parede: '))
altura = float(input('Altura da parede: '))

area = largura * altura #em metros quadrados

tinta = area / 2

print('A área será de {} m² e a quantidade de tinta utilizada será de {} litros.'.format(area, tinta))

Largura da parede: 5
Altura da parede: 6
A área será de 30.0 m² e a quantidade de tinta utilizada será de 15.0 litros.

### Exercício 8:
Converta a equação abaixo para um código em Python e obtenha o resultado.

Dica: Não esqueça das precedências dos operadores.

$ \sqrt{\frac{(2-3)^{2}}{4}}$

In [50]:
((2-3)**2/4)**(1/2)

0.5

### Exercício 9:
Escreva um programa que pergunte a quantidade de Km percorridos por um carro alugado e a quantidade de dias pelos quais ele foi alugado. 

Calcule o preço a pagar, sabendo que o carro custa **80 reais por dia** e **0.20 reais (20 centavos) por Km rodado**.

In [51]:
km = float(input('Quantos km foram percorridos? '))
days = int(input('Por quantos dias o carro foi alugado? '))

price = (days * 80) + (km * 0.20)
print('O preço a pagar é de {} reais'.format(price))

Quantos km foram percorridos? 5
Por quantos dias o carro foi alugado? 20
O preço a pagar é de 1601.0 reais